<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.mapper.ArticleDao">

    <select id="selectArticleAll" parameterType="String" resultType="com.dc.pojo.Article">
        select * from t_article where 1=1
        <if test="title != null">
            and article_title like '%${title}%'
        </if>
        <if test="scenicIds != null">
            and scenic_id in (${scenicIds})
        </if>
        order by rand() desc
    </select>


    <!--author：hjs-->
    <select id="selectArticleAll2" parameterType="String" resultType="com.dc.pojo.Article">
        select * from t_article where 1=1
        <if test="title != null">
            and article_title like '%${title}%'
        </if>
    </select>



    <select id="selectArticleById" parameterType="int" resultType="com.dc.pojo.Article">
        select * from t_article where article_id=${Id}
    </select>

    <insert id="commitComment">
        INSERT INTO `new_net`.`t_comment`(`comment_text`, `comment_aim_id`, `commentator_id`,`commentator_account`) VALUES ( '${comment_text}', '${scenic_id}', '${user_id}','${user_account}');
    </insert>

    <select id="selectAllCommentByScenicId" parameterType="int" resultType="com.dc.pojo.Comment">
        select `comment_id`, `comment_text`, `comment_time`, `comment_aim_id`, `commentator_id`,`commentator_account` from `new_net`.`t_comment` where comment_aim_id=${scenic_id} ORDER BY comment_time desc LIMIT 5
    </select>
    <insert id="addArticle" parameterType="com.dc.pojo.Article">
        INSERT INTO `new_net`.`t_article`(`article_title`, `article_text`, `author_id`, `author_account`,`scenic_id`) VALUES (#{article_title},#{article_text},#{author_id},#{author_account},#{scenic_id});
    </insert>
    <select id="isExistScenic" parameterType="int" resultType="com.dc.pojo.Scenic">
        select * from t_scenic where scenic_id=${scenic_id}
    </select>
    <select id="scenicList" resultType="com.dc.pojo.Scenic">
        select * from t_scenic
    </select>
    <select id="getPythonAp" resultType="String">
        select * from t_python limit 1
    </select>
</mapper>